[submodule "modules/zsh/dep/oh-my-zsh"]
	path = modules/zsh/dep/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "modules/zsh/dep/powerlevel10k"]
	path = modules/zsh/dep/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "modules/zsh/dep/zsh-completions"]
	path = modules/zsh/dep/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "modules/zsh/dep/zsh-syntax-highlighting"]
	path = modules/zsh/dep/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/zsh/dep/zsh-autosuggestions"]
	path = modules/zsh/dep/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
